<div align="center";>


<h2><b>Name:</b> {{ products.name }}{{ pro.id }}</h2>
<p><b>Tags: </b>{{ products.tag.all|join:", " }}</p>
<p><b>Category: </b>{{ products.Category }}  <a href="/product/edit/{{ products.id }}">edit</a></p>
<p><img class="img-fluid" src="{{ products.image.url }}" width="60" height="60"></p>
<p><b>Description: </b>{{ products.describtion }}</p>
<hr>
<form action="/product/edit/{{ products.id }}" method="POST">
    {% csrf_token %}
<select id="cat_name" name="cat_name">
    
    {% for cat in cat %}
    <option value="{{ cat.Name }}">{{ cat.Name }}</option>
    {% endfor %}
    
</select><button type="submit" class="btn">Add</button>
</div>